body {
    font-family: 'Arial', sans-serif;
}

.logo {
    width: 50px;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

h2 {
    color: #6f4e37; /* Coffee color */
}

p {
    color: #b5651d; /* Pastry color */
}

header, footer {
    background-color: #343a40; /* Matching header color */
}
