body {
    font-family: 'Arial', sans-serif;
}

.logo {
    width: 50px;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

header, footer {
    background-color: #464646; /* Matching header and footer color */
}

/* Adjust carousel height for the title */
#employeeCarousel .carousel-item {
    height: auto;
}

#employeeCarousel .carousel-item .row {
    align-items: center;
}

/* Add margin to the containers */
.first-container,
.second-container {
    padding: 50px;
}

/* Add padding to the employee carousel */
.employee-carousel {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}